* {
  font-family: "Comic Sans MS";
}

.row {
  overflow: hidden;
  width: 100%;
  padding: 5px;
}

.page-title {
  text-align: center;
  font-size: 35px;
}

.page-section {
  margin: 10px;

  background: silver;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.section-title {
  width: 150px;
  padding: 5px;
  text-align: center;
  float: right;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid black;
}

.section-title.first {
  background: pink;
}

.section-title.second {
  background: green;
}

.section-title.third {
  background: yellow;
}

.section-body {
  height: 300px;
  margin-top: 50px;
  padding: 10px;
  overflow-y: auto;
}
